body{
  font-family: Helvetica; sans-serif;
  text-align: center;
  font-size: 14px;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
font-size: 70px;
font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

/* Container holding the image and the text */
.container2 {
    position: relative;
    text-align: center;
}

.footer{
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
